Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g52, pull requests merged in 2022-10, with the labels that each got.

#82 [Question Service] Get random question filter by difficulty
  question-service/.eslintrc.js
  question-service/.prettierrc.js
  question-service/controller/questionController.js
  question-service/index.js
  question-service/middleware/errorMiddleware.js
  question-service/package-lock.json
  question-service/package.json
  question-service/routes/questionRoutes.js
Labels: enhancement, priority: high, question service

#110 [Question Service] Fix concurrent fetching of questions
  question-service/Dockerfile
  question-service/config/cache.js
  question-service/controller/questionController.js
  question-service/index.js
  question-service/package-lock.json
  question-service/package.json
Labels: bug, priority: high, question service

#117 [Question Service] Update fetching logic of leetcode question
  question-service/config/db.js
  question-service/controller/questionController.js
  question-service/index.js
  question-service/model/problemModel.js
  question-service/package-lock.json
  question-service/routes/questionRoutes.js
  question-service/start-local-redis.sh
  question-service/utils/questionHelper.js
Labels: bug, priority: high, question service

#121 Communication branch
  communication-service/Dockerfile
  communication-service/README.md
  communication-service/commsTest.js
  communication-service/index.js
  communication-service/package-lock.json
  communication-service/package.json
  communication-service/utils/chatUsers.js
  communication-service/utils/messages.js
  docker-compose.yaml
  package-lock.json
  package.json
Labels: enhancement

#123 Add end of session button
  collaboration-service/config/socket.js
  collaboration-service/utils/timeoutHelper.js
  frontend/src/components/RoomTimer/index.js
  frontend/src/components/RoomTimer/styles.js
  frontend/src/hooks/useCollabEditor.js
  frontend/src/views/collab-room-end-page/styles.js
  frontend/src/views/collab-room-page/index.js
  frontend/src/views/collab-room-page/styles.js
  question-service/Dockerfile
  user-service/index.js
Labels: frontend, collaboration service
