Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g52, pull requests merged in 2022-09, with the labels that each got.

#49 Res status
  frontend/src/api/index.js
  frontend/src/common/constants.js
  frontend/src/hooks/useSignUp.js
  matching-service/index.js
  user-service/common/constants.js
  user-service/controller/authentication-controller.js
  user-service/controller/user-controller.js
  user-service/package-lock.json
Labels: priority: low

#53 [Match Service] Change database and refactor code
  .gitignore
  matching-service/README-matching-service.md
  matching-service/config/db.js
  matching-service/config/socket.js
  matching-service/controller/matchController.js
  matching-service/db.js
  matching-service/index.js
  matching-service/middleware/errorMiddleware.js
  matching-service/model/matchModel.js
  matching-service/models/Match.js
  matching-service/package-lock.json
  matching-service/package.json
  matching-service/routes/matchRoutes.js
  matching-service/utils/constants.js
  matching-service/utils/orm.js
  matching-service/utils/socket.js
  matching-service/utils/timeoutHelper.js
Labels: match service

#60 [Frontend and Match Service] Fix bug in connecting frontend and match service
  frontend/package-lock.json
  frontend/src/api/index.js
  frontend/src/common/configs.js
  matching-service/config/socket.js
  matching-service/controller/matchController.js
  matching-service/package-lock.json
  matching-service/utils/timeoutHelper.js
  user-service/package-lock.json
Labels: bug, match service, frontend, priority: high

#65 [Match Service] Testing
  matching-service/index.js
  matching-service/package-lock.json
  matching-service/package.json
  matching-service/test/test.js
  package.json
Labels: match service

#68 [Match Service] Add linter and prettier
  .github/workflows/ci.yml
  matching-service/.eslintrc.js
  matching-service/.prettierrc.js
  matching-service/config/db.js
  matching-service/config/socket.js
  matching-service/controller/matchController.js
  matching-service/index.js
  matching-service/middleware/errorMiddleware.js
  matching-service/model/matchModel.js
  matching-service/package-lock.json
  matching-service/package.json
  matching-service/routes/matchRoutes.js
  matching-service/test/test.js
Labels: match service, priority: low
